*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.form-container{
    display:flex;
    flex-direction: column;
}
.forms{
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
    border-radius:10px;

}
input{
    margin-left:400px;
    margin-right:400px;
    margin-bottom:2px;
    height:50px;
    font-size:20px;
    border-radius:10px;
    text-align:center;

}
.forms button{
    margin-left:400px;
    margin-right:400px;
    margin-bottom:2px;
    height:50px;
    font-size: 20px;
    color:white;
    background-color:rgb(9, 241, 9);
    border-radius:10px;
}
.forms textarea{
    margin-left:400px;
    margin-right:400px;
    margin-bottom:2px;
    height:50px;
    font-size: 20px;
    border-radius:10px;
    text-align:center;

}
@media only screen and (max-width:1024px){
    *{
        padding:0;
        margin:0;
        box-sizing:border-box;
    }
    .form-container{
        display:flex;
        flex-direction: column;
    }
    .forms{
        display:flex;
        flex-direction: column;
        margin-bottom:60px;
        border-radius:10px;
    
    }
    input{
        margin-left:100px;
        margin-right:100px;
        margin-bottom:2px;
        height:50px;
        font-size:20px;
        border-radius:10px;
        text-align:center;
    }
    .forms button{
        margin-left:100px;
        margin-right:100px;
        margin-bottom:2px;
        height:50px;
        font-size: 20px;
        color:white;
        background-color:rgb(9, 241, 9);
        border-radius:10px;
    }
    .forms textarea{
        margin-left:100px;
        margin-right:100px;
        margin-bottom:2px;
        height:50px;
        font-size: 20px;
        border-radius:10px;
    
    }
}